<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759847106636-ogoqe94hs5g8d6gm1b3asgt5f1beqm8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759847106636-ogoqe94hs5g8d6gm1b3asgt5f1beqm8p</string>
	<key>API_KEY</key>
	<string>AIzaSyC7t5Vd4YpQ_u9DhT33mmj-QI4NE01ZmKs</string>
	<key>GCM_SENDER_ID</key>
	<string>759847106636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nihatismayilov.NYT-News</string>
	<key>PROJECT_ID</key>
	<string>news-app-99ed6</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-99ed6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759847106636:ios:c19640e86e7925246e5ce9</string>
</dict>
</plist>